@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$assetPath: "../../public/images";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgba(31, 41, 55, 1);
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-image: url(#{$assetPath}/clark-van-der-beken-xApC8DIiD54-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(0, 80, 160);
  }
}

p {
  padding: 0px;
  margin: 5px;
}

$button-info-background: #91e2ec;
$button-info-border: #0380b3;
$button-error-background: lighten(#fdaed4, 10);
$button-error-border: lighten(#c54fa0, 10);

.button {
  padding: 15px 25px;
  margin: 10px 0px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  outline: none;
  font-weight: bold;

  &:before,
  &:after {
    position: absolute;
    padding: 0;
    margin: 0;
    content: "";
    height: 100%;
    width: 100%;
    transition: 0.3s;
  }

  &:before {
    bottom: -10px;
    left: -10px;
    z-index: -1;
  }

  &:after {
    content: attr(data-text);
    font-size: 1rem;
    display: grid;
    place-items: center;
    top: -10px;
    right: -10px;
    z-index: 1;
    letter-spacing: 3px;
  }

  &:hover:before {
    bottom: -3px;
    left: -3px;
  }

  &:hover:after {
    top: -3px;
    right: -3px;
  }

  &.small {
    padding: 5px 10px;

    &:before {
      bottom: -8px;
      left: -8px;
    }

    &:after {
      letter-spacing: 1px;
      font-size: 0.8rem;
      top: -8px;
      right: -8px;
    }

    &:not(.loading):hover:before {
      bottom: -2.5px;
      left: -2.5px;
    }

    &:not(.loading):hover:after {
      top: -2.5px;
      right: -2.5px;
    }
  }

  &.info {
    background-color: $button-info-background;
    border: solid 3px $button-info-border;
    color: $button-info-border;

    &:before,
    &:after {
      border: solid 3px $button-info-border;
      background-color: $button-info-background;
    }

    &:not(.loading):hover:after {
      background-color: $button-info-border;
      color: white;
    }
  }

  &.success {
    background-color: #a7f3d0;
    border: solid 3px #12b981;
    color: #12b981;

    &:before,
    &:after {
      border: solid 3px #12b981;
      background-color: #a7f3d0;
    }

    &:hover:after {
      background-color: #12b981;
      color: white;
    }
  }

  &.error {
    background-color: $button-error-background;
    border: solid 3px $button-error-border;
    color: $button-error-border;

    &:before,
    &:after {
      border: solid 3px $button-error-border;
      background-color: $button-error-background;
    }

    &:hover:after {
      background-color: $button-error-border;
      color: white;
    }
  }

  &.loading:before {
    animation: loading-move-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  }
  &.loading:after {
    animation: loading-move-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      infinite;
  }
}

.containers-wrapper {
  width: 40%;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(30px);
  border: solid 2px transparent;
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;

  h1 {
    font-size: 2rem;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    text-shadow: 1px 1px #333;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 20px;
    text-shadow: 1px 1px #333;
  }
}

@keyframes loading-move-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes loading-move-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-10 7:55:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
